.git
.gitignore
.vscode
.tools
skills

frontend/node_modules
frontend/dist
frontend/*.tsbuildinfo

backend/.tools
backend/**/bin
backend/**/obj

**/node_modules
**/bin
**/obj
**/.DS_Store
**/Thumbs.db
